/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /*NAVIGATION*/

nav {
	background-color: #203543 !important;
}

nav ul a {
	color: #7accc0;
}

/*  BODY */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

pre {
  background: #444444;
  color: #ddd;
  border-radius: 10px;
}

label {
  font-size: 1.5rem;
}
/*#CBPcode {
display: none;
}*/

/* CLASSES */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* FOOTER */

footer {
	background-color: #26495c !important;
}

