/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* CHARTBEAT FONTS */

@font-face {
font-family: "merriweather";
src:url("../font/Merriweather-Light.otf") format("opentype");
font-style:normal;font-weight:300;
}

@font-face {
font-family: "proxima-nova";
src:url("../font/Proxima Nova Reg.otf") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family: "proxima-nova";
src:url("../font/Proxima Nova Sbold.otf") format("opentype");
font-style:normal;font-weight:600;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather:300);


/* NAVIGATION STYLES */

nav {
	/*background-color: #203543 !important;
  background-color: #2F3E4A;
  padding-top: 14px;*/
  width: 100%;
  display: flex;
  position: fixed;
  z-index:1;
  height: 64px;
  top: 0;
  width: 100%;
  background-color: #27495b;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}


/*  BODY */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Merriweather', serif !important;
  color: #005175;
}
h1, h2, h3, h4, h5, label {
  font-family: 'proxima nova', sans-serif !important;
  font-weight: 200;
}

main {
  flex: 1 0 auto;
}

b, strong {
  font-weight: 600;
}
a {
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

pre {
  background: #444444;
  color: #ddd;
  border-radius: 10px;
}

label {
  font-size: 1.5rem;
  color: #52A4D8;
}

blockquote {
  border-left: 5px solid #52a4d8;
}

#download-button {
  background-color: #52A4D8;
  font-size: 14px;
  letter-spacing: 2px;
}

/* CLASSES */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.input-field .prefix.active {
  color: #52A4D8;

}

/* FOOTER */

footer {
	background-color: #26495c !important;
  width: 100%
}

